{{#if loggedIn}}
    <div class="meta" a href="/dashboard">
      Hi there, {{req.session.username}} !  See your post history below.
    </div>
{{/if}}

<section>
  <h2>Your Posts</h2>
  {{#if posts.length}}
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/post/edit/{{id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
   {{else}}
    <li>You have no posts</li>
</section>
{{/if}}


<section>
  <h2>Your Comments</h2>
  {{#if comments.length}}
    <ol>
      {{#each comments as |comment|}}
      <li>
        {{> comment user.comments}}
        <a href="/edit/{{comment.id}}" class="edit-link">Edit comment</a>
      </li>
      {{/each}}
    </ol>
    {{else}}
    <li>You have no comments</li>
    {{/if}}
</section>

{{!-- only include what will be used on this handlebar/page --}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
{{!-- <script src="/javascript/login.js"></script> --}}